#developer{
    padding: 80px 48px;
    background-color: #F4F4F4;
    margin-top: 120px;
}

#developer-title{
    font-weight: 600;
    font-size: 36px;
}

.dev-icon img{
    padding: 6px;
    border-radius: 2px;
}

.dev-icon h3, .dev-text-3 h3{
    font-size: 24px;
}

.dev-content-title-text p{
    font-size: 18px;
    color: #757575;
}



@media(max-width:818px){
    #developer-title{
        font-size: 30px;
    }

    .dev-content-title-text p{
        font-size: 16px;
    }

}