

#footer{
    background-color: var(--footer-backgorund);
}

.topFooterSubSection{
    color: var(--white-font);
    margin-bottom: 64px;
}

.subscribeInput{
    background-color: #0083D4;
    color: #fff;
    width: 24vw;
    margin: auto;
    padding: 12px;
    cursor: pointer;
}

.subscribeInput:hover{ 
    transform: scale(.98);
    transition: 0.3s ease-in-out;
}

.subscribeInput button{
    font-size: 18px;
    letter-spacing: 1px;
}

#toFooterLinkSection{
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 20%;
    color: var(--white-font);
}

#toFooterLinkSection ul li{
    cursor: pointer;
}

#bottomFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

#bottomFooter .text{
    color: var(--white-font);
}

#bottomFooter img{
    width: 50px;
}

.mobile{
    display: none;
}


@media(max-width:818px){

    .topFooterSubSection h3{
        font-size: 30px;
    }

    .subscribeInput{
        width: 100%;
    }

    .web{
        display: none;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
    }

    #toFooterLinkSection{
       flex-direction: column;
       gap: 32px;
       align-items: stretch;
       margin: 0px auto;
       padding: 48px 0px;
       text-align: left;
    }

}