#above-the-fold{
    margin: auto;
    padding: 48px;
  }
  
#above-the-fold h1{
  font-size: 64px;
  text-align: center;
  font-weight: 600;
}
  
#above-the-fold h1 b{
  background: linear-gradient(90deg, #0083D4, #3F3EED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
  
#above-the-fold button{
  border: 1px solid black;
  padding: 16px 24px;
  color: var(--white-font);
  font-weight: 600;
  background-color: var(--footer-backgorund);
}
  
#above-the-fold button:hover{
  transform: scale(.98);
  transition: 0.3s ease-in-out;
}
  
/* grid-begin */
#home-page-image-section{
  gap: 8px;
  margin: 48px 48px 80px 48px;
  overflow: hidden;
}

#home-page-image-section img{
  width: 30%;
}

/* Partner */

.partner-container {
  margin: 64px auto;
  height: 4rem;
  overflow: hidden;
  line-height: 30px;
  position: relative;
  width: 100%;
}

  .partner {
    top: 0;
    left: 100%;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: partner 15s linear infinite;
    gap: 10%;
    z-index: -1;
    margin-right: 8vw;
  }
  
  .partner2 {
    animation-delay: 7s;
    background-color: #fff;
  }
  
  .partner img {
    /* padding-left: 32px; */
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    width: 8%;
  }
  
  @keyframes partner {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }
  

.below-the-fold-text h2{
  font-size: 32px;
}

.below-the-fold-image{
  padding: 0 5rem;
} 
  

.below-img {
  width: 100%;
}

.below-img img{
  width: 100%;
}

@media(max-width:1200px){
  .below-the-fold-image{
    flex-direction: column;
  }
}
  
@media(max-width:818px){
    #above-the-fold h1{
        font-size: 40px;
    }

    #home-page-image-section {
        margin: 48px 16px 48px 16px;
    }

    #home-page-image-section img{
        width: 50%;
        height: 320px;
        object-fit: cover;
    }

    .below-the-fold-text h2{
        font-size: 28px;
        margin-bottom: 48px;
    }
  
    #below-the-fold{
        margin: 0px 16px 0px 16px;
    }

    
  .below-the-fold-text-context{
    display: inline-block;
    width: 98%;
  }

}
  
@media(max-width:599px){
  .partner-container {
    /* margin: 48px auto; */
  }

  .partner img {
    width: 25%;
  }

}  