header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    background-color: #fff;
}

.navLogo{
    display: block;
}

.navLogoMobile{
    display: none;
}

.navbarLinksMenu{
    color: var(--black-font);
    margin: 0px 24px 0px 24px;
    font-weight: 600;
}

.navbarLinksMenu:hover{
    color: var(--black-font-active);
}

.navCta{
    margin-left: 24px;
    padding: 12px 32px;
    background: linear-gradient(to right, #75D3FF, #C8B2FF);
    cursor: pointer;
    border: 1px solid #fff;
    font-weight: 600;
}

.navCta:active{
    transform: scale(.98);
}

.nav-btn{
    display: none;
}

.mobile-cta{
    display: none;
}

@media(max-width:818px){

    header{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    header .nav-btn {
        display: block;
        font-size: 18px;
    }

    header nav{
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: white;
        z-index: 2;
        transition: 1s;
        transform: translateY(-100vh);
    }


    header .responsive_nav {
        transform:translateY(100vh);
    }

    .navLogo{
        display: none;
    }

    .navLogoMobile{
        display: block;
    }

    .mobile-cta{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: .5px;
        border: .5px solid rgb(229, 229, 229);
        position: fixed;
        top: 1.2rem;
        right: 2rem;
    }
    
    .navCta{
        margin-left: 0px;
    }

    .mobile-nav-cta{
        background: linear-gradient(to right, #75D3FF, #C8B2FF);
        margin: 2px;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .navbarLinksMenu{
        width: 90%;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: start;
        color: var(--black-font-active);
    }

    .navCta{
        margin-top: 24px;
        padding: 24px 32vw;
        font-size: 24px;
        color: var(--black-font-active);
    }

    .plus-icon{
        color: var(--black-font-active);
        font-size: 16px;
    }

    .bar-icon{
        color: rgb(59, 59, 59);
        font-size: 16px;
        margin: 2px;
    }
 
}