@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn-color: #F6F6F6;
  --white-font: #f8f8f8;
  --black-font: #767676;
  --light-grey: rgba(231, 231, 231, 0.216);
  --black-font-active: #1a1a1a;
  --footer-backgorund: #7142D0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
